In [1]:
import pandas as pd
df = pd.read_csv('./data/airbnb_data_cleaned.csv')
df.head()

,Unnamed: 0,beds,minimum_nights,latitude,longitude,accommodates,bathrooms,bedrooms,guests_included,price_cleaned,...,room_type_cleaned,cancellation_policy_cleaned,cable_tv,wifi,pet_allowed,washer_and_dryer,kitchen_available,smoking_allowed,free_parking_on_premises,property_size
0,0,2.0,4.0,52.534537,13.402557,3.0,1.0,1.0,1.0,60.0,...,1.0,0.0,True,True,False,False,True,False,NaN,75 s
1,1,1.0,2.0,52.548513,13.404553,2.0,1.0,1.0,1.0,17.0,...,0.0,1.0,False,True,False,False,True,False,NaN,25 s
2,2,2.0,62.0,52.534996,13.417579,4.0,1.0,1.0,2.0,90.0,...,1.0,0.0,False,True,False,False,True,False,NaN,68m
3,3,1.0,5.0,52.498855,13.349065,2.0,1.0,1.0,1.0,26.0,...,0.0,0.0,False,True,True,False,False,False,NaN,26 s
4,4,2.0,2.0,52.543157,13.415091,2.0,1.0,1.0,1.0,42.0,...,0.0,2.0,False,True,False,False,False,False,NaN,20 s

In [3]:
df.isnull().sum()

Unnamed: 0                         0
beds                            6103
minimum_nights                  6103
latitude                        6103
longitude                       6103
accommodates                    6103
bathrooms                       6103
bedrooms                        6103
guests_included                 6103
price_cleaned                   6103
extra_people_cleaned            6103
cleaning_fee_filled             6103
security_deposit_filled         6103
superhost                       6103
property_type_cleaned           6103
room_type_cleaned               6103
cancellation_policy_cleaned     6103
cable_tv                        5032
wifi                             190
pet_allowed                     5270
washer_and_dryer                5114
kitchen_available                280
smoking_allowed                 5086
free_parking_on_premises       17133
property_size                  12081
dtype: int64

In [4]:
df.shape

(18266, 25)

In [ ]:
train_data = df[df['property_size'].notnull()]
test_data  = df[df['property_size'].isnull()]

# define X
X_train = train_data.drop('property_size', axis=1)
X_test  = test_data.drop('property_size', axis=1)

# define y
y_train = train_data['property_size']

# import Linear Regression
from sklearn.linear_model import LinearRegression

# instantiate
linreg = LinearRegression()

# fit model to training data
linreg.fit(X_train, y_train)

y_test = linreg.predict(X_test)